h1 {
    color: inherit;
    font-size: 50px;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
}
h2{
    color:blue;
    font-size: 25px;
    font-style: oblique;
    text-align: center
  }