h1 {
    color: inherit;
    font-size: 50px;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
}
h2{
    color:blue;
    font-size: 25px;
    font-style: oblique;
    text-align: center;
  }
  input.quizSubmit[type="submit"] {
    color: #ffffff;
    background-color: #c30b0a;
    margin: 0;
    border: 0;
    outline: 0;
    text-transform:uppercase;
    height:35px;
    width:85px;
    border: 1px solid #5E5E5E;
    border-radius:5px;
   }
  